<div class="container py-5">
    <div class="row">
        <div class="col col-12">
            <div class="books-list-container v-h-center-block-parent">
                <table class="table books-list card card-strong">
                    <tbody>
                        <tr *ngFor="let book of books$ | async" [routerLink]="['/books', book.id]">
                            <td class="book-title"> {{book.description}} </td>
                            <td class="duration">
                                <i class="md-icon duration-icon">access_time</i>
                                <span>{{book.duration}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>