<div class="messages messages-error">
    <div class="messages-container">

    </div>
</div>

<div class="container py-5">


    <div class="row">
        <div class="col-md-12">
            <h2 class="title text-center text-black mb-4">
                <span class="title-span">Welcome in </span>
                ANGULAR SECURITY</h2>

            <div class="row">
                <div class="col-md-6 mx-auto">
                    <!-- form card login -->
                    <div class="card rounded-2">
                        <div class="card-header">
                            <h3 class="mb-0">
                                <i class="fas fa-users"></i>&nbsp;Sign Up
                            </h3>
                        </div>

                        <div class="card-body">
                            <div class="row" *ngIf="errors?.length">
                                <div class="alert alert-danger" role="alert">
                                    <div *ngFor="let error of errors"><i class="fas fa-exclamation"></i>&nbsp;{{errorCodesMessages[error]}}</div>
                                </div>
                            </div>
                            <form class="form" role="form" autocomplete="off" novalidate="" [formGroup]="signupForm" method="POST">
                                <div class="form-group">
                                    <label for="email">
                                        <i class="fas fa-envelope"></i>&nbsp;e-mail:</label>
                                    <input type="text" class="form-control  rounded-0" name="email" formControlName="email">
                                    <div class="invalid-feedback">Oops, you missed this one.</div>
                                </div>
                                <div class="form-group">
                                    <label for="password">
                                        <i class="fas fa-unlock-alt"></i>&nbsp;password:</label>
                                    <input type="password" class="form-control  rounded-0" name="password" formControlName="password">
                                    <div class="invalid-feedback">Oops, you missed this one.</div>
                                </div>
                                <div class="form-group">
                                    <label for="confirm">
                                        <i class="fas fa-check-double"></i>&nbsp;confirm password:</label>
                                    <input type="password" class="form-control  rounded-0" name="confirm" formControlName="confirm">
                                    <div class="invalid-feedback">Oops, you missed this one.</div>
                                </div>
                                <button class="btn btn-success btn-lg float-right" [disabled]="!signupForm.valid" type="submit" (click)="signUp()">
                                    <i class="fas fa-user-plus"></i>&nbsp;Done</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>