label {
    text-align: left !important;
    width: 100% !important;
}
form {
    width: 100% !important;
}
.title {
    font-size: 40px;
}
.title-span {
    color: aquamarine;
    background-color: black;
    padding: 5px;
}
.title-span-2 {
    color: black;
    background-color: white;
    padding: 5px 5px 5px 0; 
}
.angular-span{
    color: #b52e31;
    background-color: white;
    padding: 5px 0 5px 5px;
    font-weight: bold;
}
.signup-btn {
    background-color: aquamarine !important;
}
.signup-btn:hover {
    border: solid 2px black;
}


